{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
        <h1> Records... </h1>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">email</th>
              </tr>
            </thead>
            {% if records %}
                <tbody>
                    {% for record in records %}
                        <tr>
                            <th scope="row">{{ record.id }}</th>
                            <td>{{ record.first_name }}</td>
                            <td>{{ record.last_name }}</td>
                            <td>{{ record.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
            
        
            

    {% else %}
        <h1> Login </h1>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
                </br>
                <div class="mb-3">
                {% comment %} <label for="exampleInputEmail1" class="form-label">Email address</label> {% endcomment %}
                <input type="text" class="form-control" name="username" placeholder="Username" required>
                {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
                </div>
                <div class="mb-3">
                {% comment %} <label for="exampleInputPassword1" class="form-label">Password</label> {% endcomment %}
                <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                {% comment %} <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> {% endcomment %}
                <button type="submit" class="btn btn-primary">Login</button>
        </form>
    {% endif %}
</div>
{% endblock %}